<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umich.engin.cm.onecoolthing" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="edu.umich.engin.cm.onecoolthing.Core.AnalyticsHelper"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme2" >
        <activity
            android:name=".Core.ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DecoderV5.ActivityDecoder"
            android:label="@string/decoder_name"
            android:parentActivityName=".Core.ActivityMain"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Core.ActivityMain"
                />
        </activity>

        <receiver android:name="edu.umich.engin.cm.onecoolthing.Notifications.BootReceiver"
                  android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="edu.umich.engin.cm.onecoolthing.Notifications.AlarmReceiver"  android:enabled="true"/>
        <service android:name="edu.umich.engin.cm.onecoolthing.Notifications.AlarmService" />
    </application>

</manifest>
