<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umich.engin.cm.onecoolthing" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme2" >
        <activity
            android:name=".Activity.ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Below are test activities -->
        <activity
            android:name=".Activity.ActivityTestCenter"
            android:label="Test Activity"
            android:parentActivityName=".Activity.ActivityMain"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity"
                />
        </activity>

        <activity
            android:name=".Activity.ActivityTestViews"
            android:label="Test Views Activity"
            android:parentActivityName=".Activity.ActivityMain"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity"
                />
        </activity>
    </application>

</manifest>
